<!DOCTYPE html>
<html>
<head>
    <!-- Head content if needed -->
    <style>
    </style>

</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#">Logo</a>
        @Html.Partial("_SearchBar")
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:5000">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-link-signin" href="#" data-toggle="modal" data-target="#loginModal">Sign In</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:5000/register">Sign Up</a>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>