@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <!-- Head content if needed -->
</head>
<body>
    <style>

    </style>
    <!-- Reusable modals for member visitors -->

    <!-- MembertNavBar Modal-->
    @Html.Partial("_MemberNavBar")

    <!-- Scripts -->
    @RenderBody()
</body>
</html>
