@using Forum_Management_System.Models.View
@model ICollection<UserViewModelMini>

@Html.Partial("_SortButtons")
@foreach (var user in Model)
{
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">@user.Username</h5>
            <a href="#" class="card-link">View</a>
        </div>
    </div>
}

<!-- Pagination Button -->
<div class="d-flex justify-content-between mb-3">
    <div>
        @Html.Partial("_PaginationPartial")
    </div>
    <!-- Previous/Next Page Buttons -->
    <div>
        @Html.Partial("_PageNavigationPartial")
    </div>
</div>
